/*.info {
  background-color: #A1DBF0;
  padding: 10px 24px;
  margin: 8px;
  color: black;
}

.account {
  background-color: #BBBBBB;
  padding: 10px 24px;
  margin: 8px;
  color: black;
}

.account>* {
  margin: 4px;
}

.selected {
  background-color: #45EE50;
}*/
